{% extends "userview" %}

{% block userview %}
  <div class="tabl">

    <div id="plav">
      <div class="tabl_head" id="tabl_head_1">
        <table style="background:{{ Model.ColorTableBd }} ; border-bottom:1px solid {{ Model.ColorTableBd }};">
          <thead>
            <tr>
              <th style=
                  "
                    min-width:14px ; 
                    max-width:14px ;
                    text-overflow:ellipsis;
                    overflow:hidden;
                  "
                  nowrap
              ></th>
              <th style=
                  "
                    min-width:14px ; 
                    max-width:14px ;
                    text-overflow:ellipsis;
                    overflow:hidden;
                  "
                  nowrap
              ></th>
              {% for title in Model.Titles %}
                  <th style=
                  "
                    min-width:{{ title.Width }} ; 
                    max-width:{{ title.Width }} ;
                    text-overflow:ellipsis;
                    overflow:hidden;
                  "
                  nowrap
                >{{ title.Name }}</th>
              {% endfor %}
            </tr>
          </thead>
        </table>
      </div>
    </div>
    <div class="tabl_body" id="tabl_body_1">
    {% for line in Model.Entries %}
    <div class="Glav_tab">
              <table style="background:{{ Model.ColorTableBd }} ; border-bottom:1px solid {{ Model.ColorTableBd }};">
                  <tbody>
            <tr style="background:{{ Model.ColorTableBg }}">
            <td style=
                  "
                    min-width:14px ; 
                    max-width:14px ;
                  "
            ><input class="customCheckbox" type="checkbox" /></td>
            <td class='open_form' style="overflow:hidden;
                    min-width:14px ; 
                    max-width:14px ;
                    cursor:pointer;
                  " onclick><img src="{{ "~/assets/openform.png" | url }}" style="width:100%;"></td>
               {% for cell in line %}
		             <td class="editable" data-type="text" ondblclick="window.location.href='{{ cell.Url }}'"  style="cursor:pointer ; width:{{ cell.Width }} ; min-width:{{ cell.Width }} ; max-width:{{ cell.Width }} ; height:{{ cell.Height }} ; min-height:{{ cell.Height }} ; max-height:{{ cell.Height }}"><div style="height:{{ cell.Height }} ; min-height:{{ cell.Height }} ; max-height:{{ cell.Height }} ; overflow:hidden "><div style="height:100% ; column-width: {{ cell.Width }}">{{ cell.Value }}</div></div></td>
               {% endfor %}
                          </tr>
                  </tbody>
              </table>
    </div>
    {% endfor %}
          </div>
      </div> 
</div>

    <script type="text/javascript">
	if(/iPhone|iPad|iPod|Android/i.test(navigator.userAgent)){} else{ document.getElementsByTagName('body')[0].style.overflow='hidden'; }
        document.getElementById("tabl_body_1").onscroll = function() {
            document.getElementById('tabl_head_1').scrollLeft = document.getElementById('tabl_body_1').scrollLeft;
        };
    </script>

	<script type="text/javascript">
	if(/iPhone|iPad|iPod|Android/i.test(navigator.userAgent)){
	
		document.addEventListener("DOMContentLoaded", function(){
			var menu=document.querySelectorAll('ul.menu > li.submenu');
		if(/iPhone|iPad|iPod/i.test(navigator.userAgent)){
			  for (var i = 0; i < menu.length; i++) {
				var li = menu[i];
				li.onmouseover = onliClick;
				li.onmousedown = onlidown;

			}
			function onlidown(event){
			var lis=document.querySelectorAll('ul.menu > li.submenu');
				var k=1;
				var target = event ? event.target : window.event.srcElement;
					for (var i = 0; i < lis.length; i++) {
					if (target.parentNode==lis[i]){k=k+i;break;}
				}
				target.nextElementSibling.style.display='block';
				var m=target.parentNode.firstElementChild.nextElementSibling.children.length;
				document.getElementById('black_block').style.display='block';
				document.getElementById('black_block').style.height= 35*k+'px';
				document.getElementById('black_block_bottom').style.display='block';
				document.getElementById('black_block_bottom').style.top= 35*k+36*m+'px';
				document.getElementsByTagName('body')[0].style.overflow='hidden';
				document.getElementsByClassName('main_table')[0].style.overflow='hidden';
			}
			document.addEventListener('touchmove', function(e) {
			if(document.getElementById('black_block_bottom').style.display=='block'){
			e.preventDefault();}
			document.getElementById('black_block').style.display='none';
			document.getElementById('black_block_bottom').style.display='none'; 
			document.getElementsByTagName('body')[0].style.overflow='auto';
			document.getElementsByClassName('main_table')[0].style.overflow='';
			var lis=document.querySelectorAll('ul.menu > li.submenu > ul.submenu');
				for (var i = 0; i < lis.length; i++) {
					if (lis[i].style.display=='block'){lis[i].style.display='none';break;}
				}
			}, 
			true
			);
			function onliClick(event){
				var lis=document.querySelectorAll('ul.menu > li.submenu');
				var k=1;
				var target = event ? event.target : window.event.srcElement;
					for (var i = 0; i < lis.length; i++) {
					if (target.parentNode==lis[i]){k=k+i;break;}
				}
				target.nextElementSibling.style.display='block';
				var m=target.parentNode.firstElementChild.nextElementSibling.children.length;
				document.getElementById('black_block').style.display='block';
				document.getElementById('black_block').style.height= 35*k+'px';
				document.getElementById('black_block_bottom').style.display='block';
				document.getElementById('black_block_bottom').style.top= 35*k+36*m+'px';
				document.getElementsByTagName('body')[0].style.overflow='hidden';
				document.getElementsByClassName('main_table')[0].style.overflow='hidden';
			}
		}
		if(/Android/i.test(navigator.userAgent)){
			
			for (var i = 0; i < menu.length; i++) {
				var li = menu[i];
				li.onclick = onliClick;
			}

			function onliClick(event){
				var lis=document.querySelectorAll('ul.menu > li.submenu');
				var k=1;
				var target = event ? event.target : window.event.srcElement;
					for (var i = 0; i < lis.length; i++) {
					if (target.parentNode==lis[i]){k=k+i;break;}
				}
				var m=target.parentNode.firstElementChild.nextElementSibling.children.length;
				document.getElementById('black_block').style.display='block';
				document.getElementById('black_block').style.height= 34.2*k+'px';
				document.getElementById('black_block_bottom').style.display='block';
				document.getElementById('black_block_bottom').style.top= 34.2*k+36*m+'px';
				document.getElementsByTagName('body')[0].style.overflow='hidden';
				document.getElementsByClassName('main_table')[0].style.overflow='hidden';
			}
			
		}

		document.getElementById("black_block").onclick=function DelBlackBlocks(event) {document.getElementById('black_block').style.display='none';
		document.getElementById('black_block_bottom').style.display='none'; 
		document.getElementsByTagName('body')[0].style.overflow='auto';
		document.getElementsByClassName('main_table')[0].style.overflow='';
		var lis=document.querySelectorAll('ul.menu > li.submenu > ul.submenu');
				for (var i = 0; i < lis.length; i++) {
					if (lis[i].style.display=='block'){lis[i].style.display='none';break;}
				}
		}
		document.getElementById("black_block_bottom").onclick=function DelBlackBlocks(event) {document.getElementById('black_block').style.display='none';
		document.getElementById('black_block_bottom').style.display='none';
		document.getElementsByTagName('body')[0].style.overflow='auto';
		document.getElementsByClassName('main_table')[0].style.overflow='';
		var lis=document.querySelectorAll('ul.menu > li.submenu > ul.submenu');
				for (var i = 0; i < lis.length; i++) {
					if (lis[i].style.display=='block'){lis[i].style.display='none';break;}
				}
		}
		var topheadtabl=document.getElementsByClassName('mytitle')[0].getBoundingClientRect().bottom-3;
		var topbodytable=topheadtabl + document.getElementById('tabl_head_1').getBoundingClientRect().bottom - document.getElementById('tabl_head_1').getBoundingClientRect().top;
			function fixed_menu(){
				if(screen.width > 480||document.body.offsetWidth > 480){
					document.getElementsByTagName('body')[0].scrollTop=0
					document.getElementsByTagName('body')[0].style.overflow='hidden';
					document.getElementById('tabl_head_1').style.positon='';
					document.getElementById('tabl_head_1').style.top='';
					document.getElementById('plav').style.width='';
					document.getElementById('plav').style.position='';
					document.getElementById('plav').style.zIndex='';
					document.getElementById('plav').style.top='';
					document.getElementsByClassName('mytitle')[0].style.width='';
					document.getElementsByClassName('mytitle')[0].style.position='';
					document.getElementsByClassName('mytitle')[0].style.zIndex='';
					document.getElementById('tabl_body_1').style.position='';
					document.getElementById('tabl_body_1').style.top='';
					document.getElementById('black_block').style.display='none';
					document.getElementById('black_block_bottom').style.display='none';
					document.getElementsByTagName('body')[0].style.overflow='auto';
					document.getElementsByClassName('main_table')[0].style.overflow='';
				}
				else{
					document.getElementById('tabl_head_1').style.positon='relative';
					document.getElementById('tabl_head_1').style.top=topheadtabl+"px";
					document.getElementById('plav').style.width='100%';
					document.getElementById('plav').style.position='fixed';
					document.getElementById('plav').style.zIndex='1';
					document.getElementById('plav').style.top=topheadtabl+"px";
					document.getElementsByClassName('mytitle')[0].style.width='100%';
					document.getElementsByClassName('mytitle')[0].style.position='fixed';
					document.getElementsByClassName('mytitle')[0].style.zIndex='10';
					document.getElementById('tabl_body_1').style.position='relative';
					document.getElementById('tabl_body_1').style.top=topbodytable+"px";
				}
			}
			var elements = document.getElementsByClassName('Glav_tab')
			var scroll=elements[0].scrollLeft;
			
			function ABC() {
				for (k = 0; k < elements.length; k++) {
					if(elements[k].scrollLeft != scroll){
						scroll=elements[k].scrollLeft;
						break;
					}
				}
					
				if (scroll==0){
				        document.getElementById("tabl_body_1").onscroll = function() {
							document.getElementById('tabl_head_1').scrollLeft = document.getElementById('tabl_body_1').scrollLeft;
						};
				}
				else
				{
				document.getElementById('tabl_head_1').scrollLeft = scroll;
					for (i = 0; i < elements.length; i++) {
						elements[i].scrollLeft= scroll;
					}
				}
			setTimeout(ABC, 5);
			setTimeout(fixed_menu, 5);
			}			
			fixed_menu();
			ABC();
		});
	};
	</script>
<script type="text/javascript">
document.addEventListener("DOMContentLoaded", function(){

  var elements = document.getElementsByClassName('open_form');
  var k = document.getElementsByClassName('editable')[0].parentNode.childElementCount-2;
  for (var i = 0; i < elements.length; i++) {
        var row = elements[i];
        row.onclick =document.getElementsByClassName('editable')[(i*k)+1].ondblclick ;
    }


function redact(){
document.addEventListener('mouseup', clickpast);
function clickpast (event) {
    var container = document.getElementById("selected");
    if (event.target.parentNode.parentNode !=container){
        container.style.border="";
		container.style.maxWidth=parseInt(container.style.maxWidth,10)+ 2 +"px";
		container.style.minWidth=parseInt(container.style.minWidth,10)+ 2 +"px";
		container.firstElementChild.style.minHeight=parseInt(container.firstElementChild.style.minHeight,10)+ 2 +"px";
		container.firstElementChild.style.maxHeight=parseInt(container.firstElementChild.style.maxHeight,10)+ 2 +"px";
		container.firstElementChild.style.height=parseInt(container.firstElementChild.style.height,10)+ 2 +"px";
		container.style.height=parseInt(container.style.height,10)+ 2 +"px";
		container.onclick = onRowClickFirst;
		container.setAttribute('id','');
    }
}
  function clicktd(){
   var elements = document.getElementsByClassName('editable');
  for (var i = 0; i < elements.length; i++) {
        var row = elements[i];
        row.onclick = onRowClickFirst;
    }
	}
	 function onRowClickFirst(event) {
        var target = event ? event.target : window.event.srcElement;
		this.onclick=null;
		this.style.border="1px solid blue";
		this.style.maxWidth=parseInt(this.style.maxWidth,10)- 2 +"px";
		this.style.minWidth=parseInt(this.style.minWidth,10)- 2 +"px";
		this.firstElementChild.style.minHeight=parseInt(this.firstElementChild.style.minHeight,10)- 2 +"px";
		this.firstElementChild.style.maxHeight=parseInt(this.firstElementChild.style.maxHeight,10)- 2 +"px";
		this.firstElementChild.style.height=parseInt(this.firstElementChild.style.height,10)- 2 +"px";
		this.style.height=parseInt(this.style.height,10)- 2 +"px";
		this.onclick=onRowClickSecond;
		this.setAttribute('id','selected');
	}
    function onRowClickSecond(event) {
        var target = event ? event.target : window.event.srcElement;
		this.onclick=null;
        this.className = 'editable';
            var cell = this.firstElementChild;
            var input = document.createElement('textarea');
            // IE fails to change "type" property to unsupported value
            input.setAttribute('type', cell.getAttribute('data-type') || 'text');
            input.value = cell.firstElementChild.firstChild.data;
			input.onblur=unfocus; 
			input.style.border='0px';
			input.style.borderRadius='0';
			input.style.outline='0';
			input.style.fontSize='16px';
			if(/iPhone|iPad|iPod|Android/i.test(navigator.userAgent)) input.style.pointerEvents='none'; 
            cell.insertBefore(input, cell.firstChild);
			input.style.height='90%';
			input.style.width='100%';
			input.style.paddingLeft='0px';
			input.style.marginLeft='0px';
            input.focus();
			input.onkeyup=function(event){
			if(event.keyCode == 13|| event.charCode === 13){
				input.blur();
			}
			};
			}
	function unfocus(event) {
		this.nextElementSibling.firstChild.data = this.value;
		this.parentNode.parentNode.style.border="";
		this.parentNode.parentNode.style.maxWidth=parseInt(this.parentNode.parentNode.style.maxWidth,10)+ 2 +"px";
		this.parentNode.parentNode.style.minWidth=parseInt(this.parentNode.parentNode.style.minWidth,10)+ 2 +"px";
		this.parentNode.parentNode.onclick=onRowClickFirst;
		this.parentNode.parentNode.setAttribute('id','');
		this.parentNode.removeChild(this);
	};
	clicktd();

}
redact();
});
</script>
<script>

var setShiftDown = function(event){
    if(event.keyCode === 16 || event.charCode === 16){
        window.shiftDown = true;
    }
};

var setShiftUp = function(event){
    if(event.keyCode === 16 || event.charCode === 16){
        window.shiftDown = false;
    }
};

window.addEventListener? document.addEventListener('keydown', setShiftDown) : document.attachEvent('keydown', setShiftDown);
window.addEventListener? document.addEventListener('keyup', setShiftUp) : document.attachEvent('keyup', setShiftUp);

document.addEventListener("DOMContentLoaded", function(){
var elements = document.getElementsByClassName('customCheckbox');
var lastcheck=0;
	for (var i = 0; i < elements.length; i++) {
        var check_box = elements[i];
        check_box.onchange = oncheck;
		check_box.setAttribute('index', i);
    }
	function oncheck(event){
	 var target = event ? event.target : window.event.srcElement;
			var i=lastcheck;
			lastcheck=Number(target.getAttribute('index'));
				if(window.shiftDown){
					while(elements[i]!=target){
						elements[i].checked=target.checked;
						if(lastcheck>i)
						i++;
						else
						i--;
					}
				}

	}
	function checkedd(){
		for (var i = 0; i < elements.length; i++) {
			var check = elements[i];
			if(check.checked) {check.parentNode.parentNode.style.backgroundColor='{{ Model.ColorTableSelect }}';}
			else{check.parentNode.parentNode.style.backgroundColor='{{ Model.ColorTableBg }}';}
		}
		window.addEventListener? document.addEventListener('keydown', setShiftDown) : document.attachEvent('keydown', setShiftDown);
		window.addEventListener? document.addEventListener('keyup', setShiftUp) : document.attachEvent('keyup', setShiftUp);
		setTimeout(checkedd, 5);
	}
	checkedd();
});
</script>
{% endblock %}